CSHTML

@{
    ViewData["Title"] = "Index";
}

<h2>Tu pago fue realizado</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Yes_Check_Circle.svg;h=305" alt="" height="300" width="300" />

